<!DOCTYPE html>
<html lang="en">

<head>
  <%-include("header")-%>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="top-bar">
    <nav class="navbar ">
      <form action="/views" class="form-inline" method="post">
        <button class="btn btn-outline-success" name="button1" type="submit">Switch</button>
      </form>
      <form action="/work" class="form-inline" method="post">
        <button class="btn btn-outline-success" name="button1" type="submit">VIP</button>
      </form>
    </nav>
    <div class="Header">
      <h1 class="welcome">Welcome </h1>
    </div>
  </div>








  <div class="top-container">

    <div style="margin-top: 10%;" class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <h1 class="message"">Today is <%=Day%></h1>
        <p class=" message"><%=Date%></p>

        </div>
        <div class="col-sm-12 col-md-4">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item ">

                <img style="width:100%;height:250px"
                  src="https://clickup.com/blog/wp-content/uploads/2019/01/to-do-list-apps.png" alt="todo list img">
              </div>
              <div class="carousel-item ">
                <img style="width:100%;height:250px" class="card-img-top "
                  src="https://i.pinimg.com/originals/a2/c2/1c/a2c21cddcdffd7eb6c8259c06636299e.gif"
                  alt="Card image cap">
              </div>
              <div style="text-align:center ;" class="carousel-item active">
                <h3>Lets Get To Work</h3>
                <p>"To-do lists offer a way to increase productivity, stopping you from forgetting
                  things, helps prioritise tasks, manage tasks effectively, use time wisely and
                  improve time management as well as workflow."</p>
              </div>
            </div>
          </div>


        </div>
        <div class="col-sm-12 col-md-4">
          <img style="width:100%;height:250px" src="https://desktime.com/blog/wp-content/uploads/2021/03/feature.png"
            alt="to do list img">
        </div>
      </div>
    </div>
  </div>







  <div class="middle-container">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div style="width: 100%; " class="card" style="width: 18rem;">
            <img style="height:200px" class="card-img-top"
              src="https://woc.aises.org/sites/default/files/styles/image730x495/public/March2020-Student-Illo-BLOGPOST-FNL.jpg?itok=sfPCAQLh"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the
                bulk
                of the card's content.</p>
              <button type="button" class="btn btn-success">Success</button>
            </div>
          </div>
        </div>



        <div class="col-sm-12 col-md-4">
          <div style="width: 100%; " class="card" style="width: 18rem;">
            <img style="height:200px" class="card-img-top "
              src="https://i.pinimg.com/originals/a2/c2/1c/a2c21cddcdffd7eb6c8259c06636299e.gif" alt="Card image cap">
            <div style="height:190px ;" class="card-body">
              <form action="/" method="post">
                <input placeholder="Add New Workout" type="text" name="workoutItem">
                <button type="submit" class="btn btn-success ButtonAdded">Add</button>
              </form>

              <form style="padding-top:15px;padding-left:17px;" action="/" method="post">
                <input placeholder="Delete Workout" type="text" name="deleteWorkout">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>
          </div>
        </div>



        <div class="col-sm-12 col-md-4">
          <div style="width: 100%; " class="card" style="width: 18rem;">
            <img style="height:200px" class="card-img-top " src="https://i.ytimg.com/vi/GMa1xbjdtHk/maxresdefault.jpg"
              alt="Card image cap">
            <div style="height:190px ;" class="card-body">
              <form action="/" method="post">
                <input placeholder="Add New Workout" type="text" name="newItem">
                <button type="submit" class="btn btn-success ButtonAdded">Add</button>
              </form>

              <form style="padding-top:15px;padding-left:17px;" action="/" method="post">
                <input placeholder="Delete Workout" type="text" name="deleteItem">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>
          </div>
        </div>

        <!-- 

                <div class="col-sm-12 col-md-4">
                    <div style="width: 100%; " class="card" style="width: 18rem;">
                        <img style="height:200px" class="card-img-top"
                            src="https://i.ytimg.com/vi/GMa1xbjdtHk/maxresdefault.jpg" alt="Card image cap">
                        <div style="height:190px;" class="card-body">
                            <form action="/" method="post">
                                <input type="text" name="newItem">
                                <button type="submit" class="btn btn-success ButtonAdded">Add</button>
                            </form>

                            <form action="/" method="post">
                                <input type="text" name="deleteItem">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div> -->

      </div>
    </div>

  </div>



  <div class="bottom-container">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div style="width: 100%; " class="card" style="width: 18rem;">
            <img style="height:200px" class="card-img-top"
              src="https://woc.aises.org/sites/default/files/styles/image730x495/public/March2020-Student-Illo-BLOGPOST-FNL.jpg?itok=sfPCAQLh"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the
                bulk
                of the card's content.</p>
              <button type="button" class="btn btn-success">Success</button>
            </div>
          </div>
        </div>





        <div style="background-color: #6a2d50;" class="col-sm-12 col-md-4">
          <h3>Work Out</h3>

          <%for(var j=0;j<workout.length;j++){%>
          <p style="text-decoration: underline;"><%=workout[j]%></p>

          <%}%>
                    
                </div>


                <div style="background-color:#0bba9c;" class="col-sm-12 col-md-4">
                    <h3>Food List</h3>
                        <%for(var i=0;i<newItems.length;i++){%>
          <p style="text-decoration: underline;"> <%=newItems[i]%></p>
          <%}%>

           
                    </div>

                </div>
            </div>

        </div>

        <%-include("footer")-%>
        <script src="sketch.js"></script>




        
</body>

</html>